.reset, button {
    @include button-reset-styles;
    padding: 0.5em 1em;
    cursor: pointer;
    font-family: $font-family-code;
  }
  
  .counter {
    @include flex-center;
    background-color: $background-color;
    color: $secondary-color;
    border: $border-width-default inset;
  }
  
  .cell {
    width: $grid-cell-size;
    height: $grid-cell-size;
    background-color: $grid-bg-color;
    @include border-default;
    &:hover {
      background-color: lighten($grid-bg-color, 10%);
    }
  }
  