$font-primary: "Bungee Spice", cursive;
$font-secondary: "Courier New", Courier, monospace;
$color-primary: rgb(231, 87, 47);
$color-secondary: #333;
$color-background: rgba(253, 76, 0, 0.5);
$color-shadow: rgb(38, 57, 77);
$color-text: #333;
$color-border: #9e9e9e;
$color-highlight: rgba(253, 76, 0, 0.5);
$color-info-bg: #d1d1d1;
$color-error: #f10707;
$color-success: #2bb13d;
$color-warning: #d7af42;
$color-info: #2a48ec;

$text-color: #333;
$link-color:  #2a48ec;
$highlight-color: #fef178;
$info-bg-color: #e3e3e3;
$grid-bg-color: #d1d1d1;
$mine-color: #f10707;
$flag-color: #ec433c;
$flag-maybe-color: #d7af42;

$font-family-main: 'Aleo', serif;
$font-family-secondary: 'Bungee Spice', cursive;
$font-family-code: 'Space Mono', monospace;

$base-padding: 20px;
$grid-cell-size: 24px;

$border-style-default: solid;
$border-color-default: #9e9e9e;
$border-width-default: 3px;

$transition-default: 0.3s ease-in-out;
