// Color Palette
$primary-color: #333;
$secondary-color: #ec433c;
$background-color: #fff;
$text-color: #333;
$link-color: $primary-color;
$highlight-color: #fef178;
$info-bg-color: #e3e3e3;
$grid-bg-color: #d1d1d1;
$mine-color: #f10707;
$flag-color: #ec433c;
$flag-maybe-color: #d7af42;

$font-family-main: 'Aleo', serif;
$font-family-secondary: 'Bungee Spice', cursive;
$font-family-code: 'Space Mono', monospace;

$base-padding: 20px;
$grid-cell-size: 24px;

$border-style-default: solid;
$border-color-default: #9e9e9e;
$border-width-default: 3px;

$transition-default: 0.3s ease-in-out;
